
/** ADD YOUR AWESOME CODES HERE **/

.form-container {
    border: 1px solid black;
    width: 500px;
    margin: auto;
    margin-top: 40px;
}
#form-info {
    padding: 20px;
}
.form-group {
    display: flex;
    flex-direction: column;
}

/** SEATS PAGE CSS **/
/**
#orangeBox {
  background: black;
  color: #fff;
  font-family: 'Helvetica', 'Arial', sans-serif;
  
  font-weight: bold;
  text-align: center;
  width: 100px;
  height: 60px;
  border-radius: 1px;
}
**/
.seat {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    height: 60px;
    width: 100px;
    border: 1px solid gray;
    border-radius: 5%;
    cursor:pointer;
    background-color:white;
}
.walk{
    padding-left:25px;
}
.walk2{
    padding-left:45px;
}
#driver {
    background-color:gray;          
    height: 20px;
    border-radius: 50%;
}

#res-table {
    margin: auto;
}

#res-table table, #res-table td, #res-table tr, #res-table th {
    border: 1px solid black;
    padding: 10px;
}


/** popup warning **/
#override .popup {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    padding: 20px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    background: white;
    z-index: 5;
    border: 1px solid gray;
}

.btn.btn-gray {
    color: gray;
    background: transparent;
    border-color: gray;
}

.btn.btn-gray:hover {
    color: white;
    background: gray;
}


.form-container {
    margin-bottom: 40px;
}

#my-res {
    display: none;
}

#dropdown-a {
    cursor: pointer;
}

/** my account popup for password verification **/
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 20px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    background: white;
    z-index: 5;
}

.alert {
    display: none;
}

/** other my account */

.info-box {
    border: 1px solid gray;
    width: 700px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
}